<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Warn"
	  internalLogFile="logs/internal-nlog.txt">
	<!--发送到RabbitMQ-->
	<extensions>
		<add assembly="Nlog.RabbitMQ.Target" />
	</extensions>
	<variable name="rmqHost" value="localhost" />
	<variable name="rmqUser" value="guest" />
	<variable name="rmqPassword" value="guest" />
	<variable name="rmqvHost" value="/" />
	<targets async="true">
		<target name="logstash"
		xsi:type="RabbitMQ"
		username="${rmqUser}"
		password="${rmqPassword}"
		hostname="${rmqHost}"
		exchange="rmq.target.productapi"
		exchangeType="topic"
		topic="productapi-key"
		port="5672"
		vhost="${rmqvHost}"
		useJSON ="true"
		layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"
		UseLayoutAsMessage="true"
      >
		</target>
	</targets>


	<rules>
		<logger name="*" level="Info,Error" writeTo="logstash" />
	</rules>
</nlog>
