@using Microsoft.AspNetCore.Authentication


<script src=~/lib/jquery/dist/jquery.js/></script>

<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>

<dl>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</dl>

<div>
     <button class="btn btn-primary" onclick="$.get('/Home/Logout')">Yes</button>
</div>
